<!DOCTYPE html>
<html lang="en">
    <%- include('./head.ejs') %>
    <body>
        <div class="container p-5">
            <div class="card p-5 bg-dark text-light">
                <div class="card-title">Your To-do App</div>
                <div class="card-body">
                    <a href="/add" class="btn btn-primary">Add To List</a>
                    <ul class="list-group mt-3 text-dark">
                        <% if (locals.list.length > 0) {%> <%locals.list.forEach(element => {%>
                        <li class="list-group-item mt-1 mb-1">
                            <form action="/edit/<%= element.id %>" method="get" style="display: inline">
                                <button type="submit" class="btn btn-primary btn-sm">
                                    <i class="bi-pencil-fill"></i>
                                </button>
                            </form>
                            <form action="/delete/<%= element.id %>" method="post" style="display: inline">
                                <button type="submit" class="btn btn-danger btn-sm">
                                    <i class="bi-trash-fill"></i>
                                </button>
                            </form>
                            <%= element.todo %>
                        </li>
                        <%}) %> <% } else { %>
                        <li class="list-group-item mt-1">The list feels empty! Try adding one.</li>
                    </ul>
                    <% } %>
                </div>
            </div>
        </div>
        <% include('./foot.ejs') %>
    </body>
</html>
